@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">University</h1>
    <p>Link <a href="https://kertlillemets21.thkit.ee" target=_blank> kodulehele</a>.</p>
</div>
